<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here is your post</h2>
    <h3 id="Postinfo">Post id:<%= post.id %></h3>
    <div class="element">
        <h3 id="username"><%=post.username%></h3>
        <h4 id="content"><%=post.content%></h4>
    </div>
</body>
</html>